p= 'Todo o conteúdo deste site é ficcional, qualquer semelhança com fatos ou pessoas reais é mera coincidência.'
  copyright
    p
      a(rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/")
        img(alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png")
      = 'Todo o conteúdo deste site está licenciado com uma Licença'
      a(rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/")
      = 'Creative Commons - Atribuição-NãoComercial-CompartilhaIgual 4.0 Internacional'

script(type='text/javascript').
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
  ga('create', 'UA-1231335-4', 'auto');
  ga('send', 'pageview');