a#forkme_banner(href="https://github.com/devaneio") Powered by GitHub
a(href='./index.html')
    h1#project_title Devaneios Sóbrios
    h2#project_tagline de um programador
p
    a(href="./contato.html") Contacte-me