extends ./main.jade

block content        
    session#main_content.inner
    h3 Entrando em contato
    p 
        = 'Este blog utiliza o ' 
        a(href="https://github.com/about") GitHub
        = ' para sua hospedagem. Por isso, para entrar em contato você precisará'
        a(href="https://github.com/join") criar um usuário neste serviço
        = ', escolha o plano gratuíto. Depois de criar seu usuário você pode abrir um ticket utilizando este link:'
        p 
            a(href="https://github.com/devaneio/devaneio.github.io/issues/new") Entrar em contato